# Primer Notebook
## ESMA 3016
## Edgar Acuna
## Febrero 1, 2018

In [3]:
# Una operacion basica elemental
(3+5*6)/11

3

In [4]:
# Entrando el dato con el teclado
age = input("How old are you? ")

How old are you? 55

In [5]:
print "Your age is", age

Your age is 55

In [6]:
print "You have", 65 - age, "years until retirement"

You have 10 years until retirement

In [7]:
name = "Edgar Acuna Fernandez"
length = len(name)

In [8]:

big_name = str.upper(name)
print big_name, "tiene", length, "caracteres"

EDGAR ACUNA FERNANDEZ tiene 21 caracteres

In [9]:
names = ["Ana", "Rosa", "Julia"]

In [10]:
names[0]

'Ana'

In [11]:
names[-2]

'Rosa'

In [12]:
#uso de la funcion range
range(5)

[0, 1, 2, 3, 4]

In [13]:
range(5,10)

[5, 6, 7, 8, 9]

In [14]:
range(5,20,3)

[5, 8, 11, 14, 17]

In [15]:
#uso del condicional If
gpa = 3.4
if gpa > 2.0:
    print "Your application is accepted."

Your application is accepted.

In [16]:
# Uso  de if/else
gpa = 1.4
if gpa >= 2.5:
    print "Bienvenido al Colegio de Mayaguez!"
else:
    print "Su solicitud de admision ha sido denegada."

Su solicitud de admision ha sido denegada.

In [17]:
#Ejemplo con operadores logicos
Ana=3
Rosa=25
if (Ana <= 5 and Rosa >= 10 or Rosa == 500 and Ana != 5):
    print "Ana and Rosa"

Ana and Rosa

In [18]:
# Ejemplo de loop
for x in range(1, 4):
    print x, "squared is", x * x

1 squared is 1
2 squared is 4
3 squared is 9

In [19]:
# Otro ejemplo de loop
names = ["Ana", "Rosa", "Julia"]
for name in names:
    print name

Ana
Rosa
Julia

In [20]:
# Ejemplo de break y continue
for value in [3, 1, 4, 1, 5, 9, 2]:
    print "Checking", value
    if value > 8:
        print "Exiting for loop"
        break
    elif value < 3:
        print "Ignoring"
        continue
    print "The square is", value**2

Checking 3
The square is 9
Checking 1
Ignoring
Checking 4
The square is 16
Checking 1
Ignoring
Checking 5
The square is 25
Checking 9
Exiting for loop

In [21]:
number = 1
while number < 200:
    print number, 
    number = number * 2

1 2 4 8 16 32 64 128