### ESMA 3016
### Edgar Acuna
### Lab25: Medidas de Asociacion y Prueba de Bondad de Ajuste

In [50]:
import numpy as np
from math import sqrt
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

In [51]:
#Ejemplo 1:Relacion entre asistor a la iglesia y faltar a clase
df=pd.read_table("http://academic.uprm.edu/eacuna/eje84.txt",delim_whitespace=True)
print df

       Va.a.iglesia     Falta.a.clase  Cantidad
0             Nunca             Nunca        91
1  De-vez-en-cuando             Nunca       140
2    Frecuentemente             Nunca       296
3             Nunca  De-vez-en-cuando        68
4  De-vez-en-cuando  De-vez-en-cuando        78
5    Frecuentemente  De-vez-en-cuando       106
6             Nunca    Frecuentemente       136
7  De-vez-en-cuando    Frecuentemente       119
8    Frecuentemente    Frecuentemente        90

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
Va.a.iglesia     9 non-null object
Falta.a.clase    9 non-null object
Cantidad         9 non-null int64
dtypes: int64(1), object(2)
memory usage: 288.0+ bytes

In [53]:
tabla=pd.pivot_table(df,values='Cantidad',index='Va.a.iglesia',columns='Falta.a.clase',aggfunc=np.sum,margins=True)
print tabla

Falta.a.clase     De-vez-en-cuando  Frecuentemente  Nunca     All
Va.a.iglesia
De-vez-en-cuando              78.0           119.0  140.0   337.0
Frecuentemente               106.0            90.0  296.0   492.0
Nunca                         68.0           136.0   91.0   295.0
All                          252.0           345.0  527.0  1124.0

## Prueba de Independencia
### Ho: No hay relacion entre asistir a la iglesia y faltar a clases
### Ha: Si hay Relacion entre las variables
## Prueba de Homogeneidad
### Ho: La proporcion de estudiantes que van frecuentemente a misa y van a clase de vez en cuando=
###  La proporcion de estudiantes que van frecuentemente a misa y van a clase frecuentemente=
### La proporcion de estudiantes que van frecuentemente a misa y nunca van a clase
### Ha: Las proporciones no son iguales

In [54]:
chi2, p, dof, ex=stats.chi2_contingency(tabla,correction=False)

In [55]:
print "El valor de la prueba Chi2 es:", chi2

El valor de la prueba Chi2 es: 86.8420289911

In [56]:
print "El p-value de la prueba es:", p

El p-value de la prueba es: 6.98863165348e-15

In [57]:
print "Los grados de libertad de la prueba son:",  dof

Los grados de libertad de la prueba son: 9

### WARNING: el usar margen le confunde al programa piensa que la tabla es 3x3 en lugar de 4x4 eso hace que el p-value no sea el correcto

In [58]:
coef_cont=sqrt(chi2/(chi2+1124))

In [59]:
print "El coeficiente de Contigencia es:", coef_cont

El coeficiente de Contigencia es: 0.267806576257

 ### Conclusion:  No existe una buena  asociaci√≥n entre asistir a la iglesia y faltar a clases

In [60]:
# Ejemplo 2 
df=pd.read_table("http://academic.uprm.edu/eacuna/eje85.txt",delim_whitespace=True)
print df

  status pet?  conteo
0  muere   no      11
1  muere   si       3
2   vive   no      28
3   vive   si      50

In [61]:
tabla=pd.pivot_table(df,values='conteo',index='status',columns='pet?',aggfunc=np.sum)
print tabla

pet?    no  si
status
muere   11   3
vive    28  50

## Prueba de Independencia
### Ho: No hay relacion entre entre tener pet  y sobrevivir al ataque cardiaco 
### Ha: Si hay Relacion entre las variables
## Prueba de Homogeneidad
### Ho: La proporcion de pacientes que tiene pet y viven= proporcion de pacientes que no tienen pet y mueren
### Ha: Las proporciones no son iguales

In [62]:
chi2, p, dof1, ex=stats.chi2_contingency(tabla,correction=False)

In [63]:
print "La prueba de Chi-Square es:", chi2

La prueba de Chi-Square es: 8.85108569869

In [64]:
print "El p-value de la prueba es:", p

El p-value de la prueba es: 0.00292914605095

In [65]:
print "Los grados de libertad:", dof1

Los grados de libertad: 1

### Conclusion:  Como el p-value es menor que .05  se rechaza la hipotesis nula y se concluye que  si hay  relacion entre tener pet y sobrevivir al ataque cardiaco.

In [66]:
tabla1=pd.pivot_table(df,values='conteo',index='status',columns='pet?',aggfunc=np.sum,margins=True)
print tabla1

pet?      no    si   All
status
muere   11.0   3.0  14.0
vive    28.0  50.0  78.0
All     39.0  53.0  92.0

In [67]:
#Calculando el coeficiente de Cramer
Cramer=sqrt(chi2/92)
print "El coeficiente de Cramer es:" , Cramer

El coeficiente de Cramer es: 0.310173263269

### Hay buena asociacion entre las variables: tener pet y sobrevir un ataque cardiaco

### Ejemplo de Bondad de ajuste (Goodness of fit) usando la Chi-Square

In [68]:
#Ejemplo de Bondad de Ajuste
#Los datos son los nacimientos por mes en Puerto Rico
#se desea probar si hay igual numero de nacimientos por mes
df=pd.read_table("http://academic.uprm.edu/eacuna/nacimientosPR.txt",delim_whitespace=True)

In [69]:
df

    Mes  Nacidos
0   Ene     5435
1   Feb     4830
2   Mar     5229
3   Abr     4932
4   May     5052
5   Jun     5072
6   Jul     5198
7   Ago     5712
8   Sep     6126
9   Oct     5972
10  Nov     5748
11  Dic     5936

In [70]:
observed=df['Nacidos']
observed

0     5435
1     4830
2     5229
3     4932
4     5052
5     5072
6     5198
7     5712
8     6126
9     5972
10    5748
11    5936
Name: Nacidos, dtype: int64

### Ho: Hay igual probabilidad de nacer en cualquier mes del a√±o   ( p1 = p2 = ‚Ä¶ = p12 = 1/12 = .083). 
### Ha: En algunos  meses hay mas probabilidad de nacer que en  otros..

In [71]:
a=observed.sum()/float(12)

In [72]:
### Calculando las frecuencias esperadas
expected=[a]*12
expected

[5436.833333333333,
 5436.833333333333,
 5436.833333333333,
 5436.833333333333,
 5436.833333333333,
 5436.833333333333,
 5436.833333333333,
 5436.833333333333,
 5436.833333333333,
 5436.833333333333,
 5436.833333333333,
 5436.833333333333]

In [73]:
stats.chisquare(observed, f_exp=expected)

Power_divergenceResult(statistic=402.36761595291375, pvalue=1.9233955478201534e-79)

#### Conclusion: Como el P-value es practicamente CERO se rechaza la hipotesis Nula y se concluye que no hay igual numero de nacimientos en cada mes.