### Lab5 : calculo de Medidas estadisticas
Se usaran las librerias panas, numpy y scipy para calcular medidas estadistica de centralidad y de dispersion

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
#este cojunto de datos esta disponible en kaggle.com
df=pd.read_csv("c://esma3016/student-por.csv",sep=",")

In [3]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
school        649 non-null object
sex           649 non-null object
age           649 non-null int64
address       649 non-null object
famsize       649 non-null object
Pstatus       649 non-null object
Medu          649 non-null int64
Fedu          649 non-null int64
Mjob          649 non-null object
Fjob          649 non-null object
reason        649 non-null object
guardian      649 non-null object
traveltime    649 non-null int64
studytime     649 non-null int64
failures      649 non-null int64
schoolsup     649 non-null object
famsup        649 non-null object
paid          649 non-null object
activities    649 non-null object
nursery       649 non-null object
higher        649 non-null object
internet      649 non-null object
romantic      649 non-null object
famrel        649 non-null int64
freetime      649 non-null int64
goout         649 non-null int64
Dalc          649 non-null int64
Walc          649 non-null int64
health        649 non-null int64
absences      649 non-null int64
G1            649 non-null int64
G2            649 non-null int64
G3            649 non-null int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

In [4]:
#Dimension de la base de datos
print(df.shape)

(649, 33)

In [5]:
#Promedio de la variable age
np.mean(df['age'])

16.7442218798151

In [6]:
#Mediana de la variable age
np.median(df['age'])

17.0

In [6]:
#calculando la moda de la variable age
stats.mode(df['age'])[0][0]

16

In [102]:
#Calculando la moda de la variable school
stats.mode(df['school'])[0][0]

'GP'

In [104]:
#calculando la media podada del 10% de la variable age
stats.trim_mean(df['age'],.1)

16.627760252365931

In [105]:
#Calulando la varianza de la variable age
np.var(df['age'])

1.6241627944239705

In [106]:
#Calulando la desviacion estandar de la variable age
np.std(df['age'])

1.2744264570480206

In [107]:
#Calculando el coeficiente de variacion
stats.variation(df['age'])*100

7.6330318504013368

In [110]:
#Criterio para outliers
lower=np.mean(df['age'])-3*np.std(df['age'])
upper=np.mean(df['age'])+3*np.std(df['age']) 
print "\n",lower,"-",upper

12.8729231605 - 20.5194819028

In [122]:
#Identificando outliers
for a in df['age']:
    if (a<lower or a>upper):
        print "outlier",a

outlier 22
outlier 21